<h1>Let's staaart</h1>

<form action="/profiles/define" method="post">
  <div class="form-question">

    <label for="Q1">Question 1</label><br>
    <select name="Q1" id="question1" required>
      <option value="">Choose an answer</option>
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="A3">A3</option>
      <option value="A4">A4</option>
    </select>
  </div>

  <div class="form-question">
    <label for="Q2">Question 2</label><br>
    <select name="Q2" id="question2" required>
      <option value="">Choose an answer</option>
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="A3">A3</option>
      <option value="A4">A4</option>
    </select>
  </div>

  <div class="form-question">
    <label for="Q3">Question 3</label><br>
    <select name="Q3" id="question3" required>
      <option value="">Choose an answer</option>
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="A3">A3</option>
      <option value="A4">A4</option>
    </select>
  </div>

  <div class="form-question">
    <label for="Q4">Question 4</label><br>
    <select name="Q4" id="question4" required>
      <option value="">Choose an answer</option>
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="A3">A3</option>
      <option value="A4">A4</option>
    </select>
  </div>

  <div class="form-question">
    <label for="Q5">Question 5</label><br>
    <select name="Q5" id="question5" required>
      <option value="">Choose an answer</option>
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="A3">A3</option>
      <option value="A4">A4</option>
    </select>
  </div>

  <div class="form-submit">
    <input type="submit" value="Zébartiiiii!">
  </div>
</form>
