<h1>Let's staaart</h1>

<form action="/profiles/define" method="post">
  <div class="form-question">

    <label for="Q1">How do you like your evenings?</label><br>
    <select name="Q1" id="question1" required>
      <option value="">Choose an answer</option>
      <option value="P2">Chatting with friends</option>
      <option value="P1">Clubbing</option>
      <option value="P4">Testing good food</option>
      <option value="P3">Sipping cocktails</option>
    </select>
  </div>

  <div class="form-question">
    <label for="Q2">What drink would you be?</label><br>
    <select name="Q2" id="question2" required>
      <option value="">Choose an answer</option>
      <option value="P3">A fancy cocktail</option>
      <option value="P2">SHOTS!</option>
      <option value="P1">A pint of beer</option>
      <option value="P4">A nice Pinot Noir</option>
    </select>
  </div>

  <div class="form-question">
    <label for="Q3">Your favorite music when you're out?</label><br>
    <select name="Q3" id="question3" required>
      <option value="">Choose an answer</option>
      <option value="P4">Classical / lounge</option>
      <option value="P2">Mellow jazz accoustic</option>
      <option value="P3">Mainstream pop</option>
      <option value="P1">Electro or hip-hop</option>
    </select>
  </div>

  <div class="form-question">
    <label for="Q4">What's your motivation to go out?</label><br>
    <select name="Q4" id="question4" required>
      <option value="">Choose an answer</option>
      <option value="P1">Meeting people</option>
      <option value="P4">Test restaurants</option>
      <option value="P3">Discover nice places</option>
      <option value="P2">Chill with friends</option>
    </select>
  </div>

  <div class="form-question">
    <label for="Q5">When do you go out?</label><br>
    <select name="Q5" id="question5" required>
      <option value="">Choose an answer</option>
      <option value="P3">Rarely</option>
      <option value="P1">On weekends</option>
      <option value="P4">For special occasions</option>
      <option value="P2">All week</option>
    </select>
  </div>

  <div class="form-submit">
    <input type="submit" value="Lesssgooo">
  </div>
</form>
