<h1>Let's staaart</h1>

<%# FORM AVEC PLAVE ORDER SANS SIMPLE FORM %>

<form action="/profiles/define" method="patch" class="">
  <div class="form-question">
      <label for="Q1">Q1:</label><br>
      <input type="checkbox" label="A1" name="Q1" value="A1" class="profil-form-button" >
      <label for="A1">Answer 1</label><br>
      <input type="checkbox" label="A1" name="Q1" value="A2" class="profil-form-button" >
      <label for="A2">Answer 2</label><br>
      <input type="checkbox" label="A1" name="Q1" value="A3" class="profil-form-button" >
      <label for="A3">Answer 3</label><br>
      <input type="checkbox" label="A1" name="Q1" value="A4" class="profil-form-button" >
      <label for="A4">Answer 4</label><br>
  </div>

    <div class="form-question">
      <label for="Q2">Q2:</label><br>
      <input type="checkbox" label="A1" name="Q2" value="A1" class="profil-form-button" >
      <label for="A1">Answer 1</label><br>
      <input type="checkbox" label="A1" name="Q2" value="A2" class="profil-form-button" >
      <label for="A2">Answer 2</label><br>
      <input type="checkbox" label="A1" name="Q2" value="A3" class="profil-form-button" >
      <label for="A3">Answer 3</label><br>
      <input type="checkbox" label="A1" name="Q2" value="A4" class="profil-form-button" >
      <label for="A4">Answer 4</label><br>
  </div>

    <div class="form-question">
      <label for="Q3">Q3:</label><br>
      <input type="checkbox" label="A1" name="Q3" value="A1" class="profil-form-button" >
      <label for="A1">Answer 1</label><br>
      <input type="checkbox" label="A1" name="Q3" value="A2" class="profil-form-button" >
      <label for="A2">Answer 2</label><br>
      <input type="checkbox" label="A1" name="Q3" value="A3" class="profil-form-button" >
      <label for="A3">Answer 3</label><br>
      <input type="checkbox" label="A1" name="Q3" value="A4" class="profil-form-button" >
      <label for="A4">Answer 4</label><br>
  </div>

    <div class="form-question">
      <label for="Q4">Q2:</label><br>
      <input type="checkbox" label="A1" name="Q4" value="A1" class="profil-form-button" >
      <label for="A1">Answer 1</label><br>
      <input type="checkbox" label="A1" name="Q4" value="A2" class="profil-form-button" >
      <label for="A2">Answer 2</label><br>
      <input type="checkbox" label="A1" name="Q4" value="A3" class="profil-form-button" >
      <label for="A3">Answer 3</label><br>
      <input type="checkbox" label="A1" name="Q4" value="A4" class="profil-form-button" >
      <label for="A4">Answer 4</label><br>
  </div>
  <div class="form-submit">
    <input type="submit" value="Gogogo!">
  </div>
</form>
