<div class="container d-flex justify-content-center align-items-center vh-100 text-center">
  <div class="profile-result">
    <div class="profile-result-text">
      <h1>You are a</h1>
      <h1 class="profile-result-name"><strong><%= @profile_result.name %></strong></h1>
    </div>

    <div class="profile-result-redirect my-5">
      <%= link_to "Discover new places", root_path, class: "button-main" %>
    </div>
  </div>
</div>
