.page-review {

  h1,
  h3,
  h5 {
    text-align: center;
  }

  h5 {
    font-weight: thin;
  }

  .border-bottom-container {
    margin: 15px auto;
  }
}

.review-form {
  h5 {
    text-align: left;
  }

  select,
  textarea {
    color: black;
  }

  // .form-check-input {
  //   border-color: #A92ED3;

  //   :checked {
  //     background-color: #A92ED3;
  //   }
  // }
}

.places-name-pop {
  text-align: center;
}

.button-save-review {
  justify-content: center;
  background: black;
  color: white;
}
