.top-actions {
  display: flex;

  justify-content: space-between;
  margin: 7px;

  .edit-link {
    color: white;
  }

  .log-out-button {
    text-decoration: none;
    color: white;
  }
}

.avatar_dashboard {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.avatar_dashboard img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.user_pseudo {
  margin: 10px 0;
  text-align: center;
}

.user_name .trip_name {
  text-align: center;
}

.button-Plan-profile {
  margin: auto;
  width: 55%;
  display: block;
  padding: 4px 15px;
  border-radius: 5px;
  background-color: #EEA538;
  text-align: center;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.avatar_dashboard {
  flex-direction: column;
  margin-bottom: 10px;
}

.user_pseudo {
  margin-top: 10px;
  margin-bottom: 25px;
}

.profile-boxes-trips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-category {
  text-align: center;
  margin: 10px auto 30px;
  padding: 4px 15px ;
  width: 55%;
  border-radius: 5px;
  background: rgb(255, 255, 255);

  a {
    color: black;
  }
}

.profile-boxes-trips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}

.my-counts {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 14px 5px;
  border-radius: 8px;
  background: #3F3F3F;
  font-style: bold;
  font-size: x-large;
  flex-direction: column;

  p {
    font-size: small;
    margin: 0;
    margin-bottom: 1px;
  }

  h2 {
    margin: 0;
  }
}

.your-best-places {
  font-size: 2em;
}

.border-bottom-container {
  width: 40%;
  border-bottom: rgb(145, 145, 145) 2px solid;
  margin: 25px auto;
}
