.avatar_dashboard {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.avatar_dashboard img {
  width: 150px;
  border-radius: 50%;
}

.user_pseudo {
  margin: 10px 0;
  text-align: center;
}

.user_name .trip_name {
  text-align: center;
}

.button-Plan-profile {
  display: block;
  margin: auto;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 60px;
  padding: 10px;
  border-radius: 8px;
  background-color: #EEA538;
}

.avatar_dashboard {
  flex-direction: column;
  margin-bottom: 60px;
}

.user_pseudo {
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile-category-username {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile_category {
  display: block;
  margin: auto;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  background: rgb(134, 125, 125);
}

h1 {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
