// Specific CSS for your home-page

.search-navbar {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  border-radius: 10px;
  width: 100%;
  border: none;
  font-size: 18px;

}

.search-input {
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 1rem 1rem 0px;
  background-image: linear-gradient(rgba(0,0,0,0.2), black);
}

.home-top {
  z-index: 6;
}

.home-sign-in-form {
  margin-bottom: 2rem;
}

.registration-home-section {
  .form-control,
  .form-control:focus {
    color: black;
  }
  .form-control::file-selector-button {
    color: black;
  }
  .user_pseudo {
    text-align: left;
  }
}


