.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container select {
  border-radius: 20px;
  color: white;
  width: 90%
}

.menu {
  flex: 1;
  max-width: 33%;
  margin-top: 0px;
  margin-bottom: 30px;
}

select {
  margin: 10px;
  margin-top: 5px;
  width: 100%;
  height: 30px;
  font-size: 14px;
  padding: 1px;
  border: none;
  border-radius: 20px;
  color: #333;
  background-color: black;
  color: white;
  border: 1px solid white;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px #b3d4fc;
}

.map-view {
  border: #fff;
  display: block;
  margin: 10px auto 30px;
  margin-top: 20px;
  width: 120px;
  height: 32px;
  background-color: #EEA538;
  border-radius: 16px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}

.container {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container h3 {
  font-size: 20px;
  text-align: center;
  margin: auto;
}

h5 {
  font-size: 15px;
}

.card-place-top img {
  max-width: 100%;
  height: 400px;
  margin: 10px;
}

.card-place img {
  max-width: 30%;
  height: auto;
}

h5, h4, h3, h2 {
  text-align: left;
  color: white;
}

body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

.order {
  align-self: flex-start;
  margin: 8px;
  margin-bottom: 0px;
}

.place-index-reco {
  margin: 10px;
}

.best-matches {
  text-align: left;
  margin-left: 10px;
}
