<div class="position-relative">
  <div class="container-fluid position-absolute search-input">
    <% if params[:controller] == "pages" && params[:action] == "home" %>
      <%= form_with url: new_trip_path, method: :get, class: "d-flex me-2 " do %>
        <%= text_field_tag :query, params[:query], class: "search-navbar", placeholder: "Where will your new trip be?" %>
        <button class="btn btn-secondary ml-auto btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      <% end %>
    <% end %>
  </div>

  <div class="wrapper-index-map" style="height: 100vh;">
    <%= render "shared/geocoder", markers: @markers %>
  </div>


</div>
