<div class="container-fluid">
      <% if params[:controller] == "pages" && params[:action] == "home" %>
        <%= form_with url: new_trip_path, method: :get, class: "d-flex me-2 " do %>
          <%= text_field_tag :query, params[:query], class: "search-navbar", placeholder: "Votre recherche..." %>
          <button class="btn btn-secondary ml-auto" type="submit" style="border-radius: 30px">Rechercher</button>
        <% end %>
      <% end %>
    </form>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= render "shared/geocoder" %>
