<%# ajouter l'image en tête de page %>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h1>Share your exprience</h1>
<div class=places-name-pop>
  <%= current_user.places.name %>
</div>
<%# penser à rajouter la notation en étoile %>
  <h2>How would you describe this place ?</h2>
  <hr color="white" size="5" width="90%">
</div>


  <h3>Add a review</h3>
  <input class= "button-save-review" type="button" value="Save">
</div>
