.button-main {
  display: inline-block;
  width: fit-content;
  padding: 5px 20px;
  background-color: #ab30d8;
  border-radius: 8px;
  color: white;
  text-decoration: none;

}


.btn-search {
  font-size: 24px;
  border: none;
  margin-left: 5px;
  border-radius: 10px;
  width: 65px;
  background-color: $yellow-vagamente;
}
