.hidden-checkbox,
.hidden-checkbox-tag
 {
  position: absolute;
  transform: scale(0);
}

label:has(.hidden-checkbox:checked) {
  background-color: #D9D9D9 ;
  color: black;
  border: rgb(186, 186, 186) solid 2px ;
}

label:has(.hidden-checkbox) {
  cursor: pointer;
  padding: 20px 15px;
  border-radius: 2px;
  border: #D9D9D9 solid 2px;
  width: 22rem;
  text-align: center;
  margin: 10px auto;
  font-size: 17px;
}


label:has(.tag-pill) {
  margin: 3px 2px;
  padding: 3px 5px;
  border-radius: 2px;
  font-size: 0.9rem;
  flex-basis: content;
  border: rgb(186, 186, 186) solid 1px ;
}

label:has(.tag-pill:checked) {
  background-color: #A92ED3;
  color: #D9D9D9;
  border: none;
}

.align-right {
  text-align: right;
}

.text-purple {
  color: #A92ED3;
}

.text-yellow {
  color: #EEA538 ;
}

.form-new-trip {
  border-radius: 10px;

}

.button-form-popup {
  background-color: #A92ED3;
  color: #D9D9D9;
  border: none;
}

.modal-body {
  border-radius: 8px;
  background-color: #1E1E1E;
  background: radial-gradient(ellipse at top, black, transparent), radial-gradient(ellipse at bottom, #A92ED3, transparent);
}


.rating-position-bookmark {
  padding: 10px;
  align-items: center;
  margin: 25px;
  text-align: center;

}

.comment-question {
  padding: -20px;
  align-items: center;
  margin: 25px;
}

.button-main-form-review {
  margin-left: 79px;
  display: inline-block;
  width: fit-content;
  padding: 5px 20px;
  background-color: #ab30d8;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  border: none;
}

.star-form-review {
  margin-left: 79px;
}

.favorite-question {
  margin-left: 100px;
}

.form-check {
  margin-left: 20px;

.margin-bottom-added {
  margin-bottom: 17px;
  color: white;

}
