.hidden-checkbox,
.hidden-checkbox-tag
 {
  position: absolute;
  transform: scale(0);
}

label:has(.hidden-checkbox:checked) {
  background-color: #D9D9D9 ;
  color: black;
  border: rgb(186, 186, 186) solid 2px ;
}

label:has(.hidden-checkbox) {
  cursor: pointer;
  padding: 20px 15px;
  border-radius: 2px;
  border: #D9D9D9 solid 2px;
  width: 20rem;
  text-align: center;
  margin: 10px auto;
  font-size: 17px;
}


label:has(.tag-pill) {
  margin: 3px 2px;
  padding: 3px 5px;
  border-radius: 2px;
  font-size: 0.9rem;
  flex-basis: content;
  border: rgb(186, 186, 186) solid 1px ;
}

label:has(.tag-pill:checked) {
  background-color: #A92ED3;
  color: #D9D9D9;
  border: none;
}

.align-right {
  text-align: right;
}

.text-purple {
  color: #A92ED3;
}

.text-yellow {
  color: #EEA538 ;
}
