<div class="">
<% if @query.present? && @places.empty? %>
  <h2><strong>No places in <%= @query.capitalize %></strong></h2>
<% elsif @query.nil? %>
  <h2><strong>Going out like a local in</strong></h2>
<% else %>
  <h2 class=""><strong>Places in <%= @query.capitalize %> :</strong></h2>
<% end %>
<div class="">Map view</div>
<h3 class="">Order your matches :</h3>
<div class="menu-container">
  <div class="menu">
    <select>
      <option value="">Menu 1</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  <div class="menu">
    <select>
      <option value="">Menu 2</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  <div class="menu">
    <select>
      <option value="">Menu 3</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
</div>

<div><h2>Best matches all categories</h2></div>
